<div class='card z-depth-4 block'>
  <div class='card-content'>
    <%= render partial: "portfolios/shared/block_header", locals: {title: 'SOBRE MIM'} %>
    <div class='row'>
      <div class="col m10 offset-m1">
        <%= portfolio.about.description.html_safe %>
      </div>
    </div>
  </div>
</div>