<div class='card z-depth-4 block'>
  <div class='card-content profile'>
    <div class='row'>    
      <div class="col m12 s12">
        <div class="center">
          <div class="row">
            <%= render_profile_photo(portfolio) %>
          </div>
          <span class="name grey-text text-darken-2">
            <p class="name"><%= render_profile_name(portfolio) %></p>
          </span>
          <div class="label grey darken-3 grey-text text-lighten-2">
            <p class="title white-text"><%= render_profile_title(portfolio) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>