<div class="row">
  <div class="col m10 offset-m1 s12">
    <h5 class="grey-text page-title">Encontre os melhores desenvolvedores</h5>
 
    <%= render "form" %>
 
    <% @portfolios[:featured].each do |portfolio| %>
      <%= render "portfolio_result", portfolio: portfolio %>
    <% end %>
 
    <% @portfolios[:general].each do |portfolio| %>
      <%= render "portfolio_result", portfolio: portfolio %>
    <% end %>
 
    <div class="center">
      <%= paginate @portfolios[:general] %>
    </div>
  </div>
</div>