.label {
  display: block;
  margin-bottom: 10%;
  padding-top: 2%;
  padding-bottom: 3%;
  font-size: 0.8em;
  box-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 1px 1px 2px grey;
  -moz-box-shadow: 1px 1px 2px grey;
}