<div class="page-footer">
  <div class="footer-container">
    <div class="copyright">
      <b>Criado com
        <i class="material-icons copyright-icon">favorite</i>
        no
        <a class="copyright-link" href="https://onebitcode.com/bootcamp-one-bit-code/"> Bootcamp OneBitCode</a>
      </b>
      <a class="grey-text text-lighten-4 right hide-on-small-only" href="#!"><i class="footer-icons fab fa-twitter"></i></a>
      <a class="grey-text text-lighten-4 right hide-on-small-only" href="#!"><i class="footer-icons fab fa-facebook-square"></i></a>
      <a class="grey-text text-lighten-4 right hide-on-small-only" href="#!"><i class="footer-icons fab fa-youtube"></i></a>
    </div>
  </div>
</div>