body {
  background-image: url('background.png');
  font-family: "Source Sans Pro", sans-serif;
}
 
h5.page-title {
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
}
 
div.input-field {
  label.font_20 {
    font-size: 20px;
  }
}
 
.font_16 {
  font-size: 16px;
}