<h4>Olá, uma empresa que viu <a href=<%= "https://dev.onebitcode.com/#{@portfolio.slug}"
 %>>seu portfólio</a> te enviou uma mensagem
.</h4>
 
<hr/>
<p style="font-size: 20px; font-weight: 700">Título: <%= @title %></p>
<p style="font-size: 16px;">Corpo: <%= @description %>
<br/>
<p>Email da empresa: <b><%= @email %></b></p>
<hr/>
 
<p>
  Obrigado por estar com a gente, <a href="https://dev.onebitcode.com">Dev.OneBitCode</a>.
</p>